<!-- Created By - Arpit Pittie -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="google-signin-client_id" content="170024686743-1qm8as78v2sh04k5tfdj9qlai0h9ptv9.apps.googleusercontent.com">
        <title>Personal Details</title>

        <!-- Bootstrap CSS File -->
        <link href="ui/css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="ui/css/sb-admin.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="ui/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- Google API -->
        <script src="https://apis.google.com/js/platform.js"></script>
        <!-- jQuery -->
        <script src="ui/js/res/jquery.min.js"></script>
        <!-- Angular JS -->
        <script src="ui/js/res/angular.min.js"></script>
        <!-- Angular Route -->
        <script src="ui/js/res/angular-route.min.js"></script>

        <!-- Angular UI Notification Files -->
        <script src="ui/js/res/angular-ui-notification.min.js"></script>
        <link rel="stylesheet" href="ui/css/angular-csp.css">
        <link rel="stylesheet" href="ui/css/angular-ui-notification.min.css">

        <!-- Custom Angular JS Files -->
        <!-- Factory common to web application -->
        <script src="ui/js/factory/factoryProject.js"></script>
        <!-- Factory to provide some utility functions -->
        <script src="ui/js/factory/factoryDashboard.js"></script>
        <!-- Controllers for the topbar and sidebar -->
        <script src="ui/js/controller/topbarCtrl.js"></script>
        <script src="ui/js/controller/sidebarCtrl.js"></script>
        <!-- Controller for the page -->
        <script src="ui/js/controller/personalDetailsCtrl.js"></script>

        <!-- Bootstrap JS File -->
        <script src="ui/js/res/bootstrap.min.js"></script>
    </head>
    <body ng-app="personalDetailsApp">
        <div id="wrapper" ng-controller="personalDetailsCtrl">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

                <ng-include src="'topbar.html'"></ng-include>

                <ng-include src="'sidebar.html'"></ng-include>

            </nav>

            <div id="page-wrapper">

                <div class="container-fluid">

                    <!-- Page Heading -->
                    <div class="row">
                        <div class="col-xs-12">
                            <h1 class="page-header">
                                Personal Details
                            </h1>
                            <ol class="breadcrumb">
                                <li>
                                    <i class="fa fa-dashboard"></i>
                                    <a href="index.html">Dashboard</a>
                                </li>
                                <li class="active">
                                    <i class="fa fa-edit"></i>
                                    Personal Details
                                </li>
                            </ol>
                        </div>
                    </div>
                    <!-- /.row -->

                    <!-- Personal Details Update Form -->
                    <div class="row">
                        <div class="col-md-offset-3 col-md-6">

                            <form role="form" ng-submit="updateDetails()">

                                <div class="form-group">
                                    <label for="name">Name</label>
                                    <input class="form-control" id="name" type="text" pattern="[a-zA-Z\s]{2,30}" placeholder="Name" ng-model="currentUser.name" title="It must be between 2-30 characters" required/>
                                </div>

                                <div class="form-group">
                                    <label>Email-ID</label>
                                    <p class="form-control-static">{{currentUser.email}}</p>
                                </div>

                                <div class="form-group">
                                    <label for="designation">Designation</label>
                                    <input class="form-control" id="designation" type="text" pattern="[a-zA-Z\s]{2,30}" placeholder="Designation" ng-model="currentUser.designation" title="It must be between 2-30 characters" required/>
                                </div>

                                <div class="form-group">
                                    <label for="mobileNumber">Mobile Number</label>
                                    <input class="form-control" id="mobileNumber" type="tel" pattern="\d{10}" placeholder="Mobile Number" ng-model="currentUser.mobileNumber" title="It must be 10 digits" required/>
                                </div>

                                <button type="submit" class="btn btn-primary">Update</button>
                                <button type="reset" class="btn btn-warning">Reset</button>

                            </form>

                        </div>

                    </div>
                    <!-- /.row -->

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->
    </body>
</html>
