<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Change Password</title>
        <base href="/Project-Authentication/">
        <script src="http://code.jquery.com/jquery-3.0.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
        <script src="ui/js/controller/forgotPasswordCtrl.js"></script>
        <script src="ui/js/res/angular-md5.js"></script>

        <link href="ui/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body ng-app="forgotPasswordApp">
        <div class="container" ng-controller="forgotPasswordCtrl">
        	<div class="row">
        		<div class="col-lg-offset-3 col-lg-6">
		            <form ng-submit="changePassword()">
		                <div class="form-group">
		                    <label for="password">New Password</label>
		                    <input class="form-control" type="password" pattern="^[-a-zA-Z0-9!@#]{6,20}" name="password" id="password" ng-model="password" title="It must be between 6-20 characters. Valid characters are !, @, #" required>
		                </div>
		                <div class="form-group">
		                    <label for="confirmPassword">Confirm Password</label>
		                    <input class="form-control" type="password" pattern="^[-a-zA-Z0-9!@#]{6,20}" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" required>
		                </div>
		                <div id="error" style="color:red; display:none">Password do not match</div>
		                <input class="form-control btn btn-success" type="submit" value="Change Password">
		            </form>
	            </div>
            </div>
        </div>
    </body>
</html>
