<!DOCTYPE html>
<html>
    <head>
        <title>Resource Booking | Home</title>
        <base href="/Project-Authentication/">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <link href="ui/css/style.css" rel="stylesheet" type="text/css" media="all"/>

        <!-- /css files -->
        <script src="ui/js/res/jquery.min.js"></script>
        <script src="ui/js/res/angular.min.js"></script>

        <script src="ui/js/res/angular-ui-notification.min.js"></script>
        <link rel="stylesheet" href="ui/css/angular-csp.css">
        <link rel="stylesheet" href="ui/css/angular-ui-notification.min.css">

        <script src="ui/js/controller/forgotPasswordCtrl.js"></script>
        <script src="ui/js/res/angular-md5.js"></script>
    </head>
    <body ng-app="forgotPasswordApp">
        <div id="spinner" class="overlay"><img src="ui/images/loader.gif" alt="spinner"></div>
        <h1 class="w3ls" style="color: black;">Resource Booking</h1>
        <div id="container_demo">
            <div id="wrapper">
                <div id="login" class="animate form" ng-controller="forgotPasswordCtrl">
                    <form ng-submit="changePassword()">
                        <h2>Change Password</h2>
                        <p>
                            <label for="password">
                                <span>New Password</span>
                            </label><br/>
                            <span>
                                <span class="glyphicon glyphicon-envelope"></span>
                                <input class="form-control" placeholder="New Password" type="password" pattern="^[-a-zA-Z0-9!@#]{6,20}" name="password" id="password" ng-model="user.password" title="It must be between 6-20 characters. Valid characters are !, @, #" required>
                            </span>
                        </p>
                        <p>
                            <label for="confirmPassword">
                                <span>Confirm Password</span>
                            </label><br/>
                            <span>
                                <span class="glyphicon glyphicon-wrench"></span>
                                <input class="form-control" placeholder="Confirm Password" type="password" pattern="^[-a-zA-Z0-9!@#]{6,20}" name="confirmPassword" id="confirmPassword" ng-model="confirmPassword" required>
                            </span>
                        </p>
                        <p class="login button">
                            <input type="submit" value="Change Password"/>
                        </p>
                        <p class="change_link">
                            <span>Want to Access Account</span>
                            <a href="" class="to_register" ng-click="redirect()">Log In</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
